hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: auto;
    /* margin-bottom: auto; */
}

#sub_menu .icon-bar {
    width: 100%;
    /* Full-width */
    background-color: #f4f5f6;
    /* Dark-grey background */
    overflow: auto;
    /* Overflow due to float */
}

#sub_menu .icon-bar a {
    float: left;
    /* Float links side by side */
    text-align: center;
    /* Center-align text */
    width: 20%;
    /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0;
    /* Some top and bottom padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 36px;
    /* Increased font size */
}

#sub_menu .icon-bar a:hover {
    background-color: #f8f9fa;
    /* Add a hover color */
}

form .select2-selection.select2-selection--single {
    border-color: inherit;
}